<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
        <p>© 2015 Copyright Dev-Mind</p>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="jt-social">
            <a href="https://twitter.com/guillaumeehret" target="social">
                <img src="img/twitter.svg" style="fill: #ffffff;">&nbsp;@guillaumeehret
            </a>
            &nbsp;&nbsp;
            <a href="https://plus.google.com/+GuillaumeEhret" target="social">
                <img src="img/google.svg">&nbsp;+GuillaumeEhret
            </a>
        </div>
    </div>
</div>

